<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Launch world-->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>

  <!-- Launch EKF-->
  <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch"/>

  <!-- Launch Odom2Trajectory-->
  <include file="$(find odom_to_trajectory)/launch/create_trajectory.launch"/>

  <!-- Launch RVIZ-->
  <include file="/home/robond/catkin_ws/src/RvizLaunch.launch"/>

  <!-- Launch Teleop-->
  <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"/>

</launch>
